#if we ever get to use cmake, we could have a build folder
build/*

test_files

#kdevelop needed a project to add library paths
source/.kdev4
source/MeloMIDI.kdev4

#we don't need object files committed
source/*.o

#Godot can generate the import folder
project/.import
