#used by cmake and stuff
source/bin
source/build
source/build_linux
source/build_windows

#exclude the compiled spectrum_analyzers
project/bin/libspectrum_analyzer.so
project/bin/libspectrum_analyzer.dll

#Godot can generate the import folder
project/.import

#kdevelop needed a project to add library paths
source/.kdev4
source/MeloMIDI.kdev4

#I export the program in this folder
release
